.dropdown {
  width: 350px;
  margin-top: 2rem;

  .dropdown-description {
    width: inherit;
    border: 1px solid #dadce0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 3px;

    p {
      color: #80868b;
      font-size: 12px;
    }

    img {
      cursor: pointer;
    }
  }

  .dropdown-list {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 350px;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: .5rem;
  }

  .list-title {
    cursor: pointer;
    font-size: 12px;
  }
}
