.password {
  margin-top: 2rem;

  .password-container {
    position: relative;
    width: 350px;

    input {
      border: 1px solid #dadce0;
      padding: 12px;
      border-radius: 3px;
      width: 100%;
      box-shadow: none;
      outline: none;

      &:focus ~ span {
        top: -10px;
      }

      &:not(:focus):valid ~ span {
        top: -10px;
      }
    }

    span {
      position: absolute;
      top: 13px;
      left: 12px;
      color: #80868b;
      font-weight: 400;
      z-index: 1;
      background: #fff;
      transition: ease-in-out 0.2s all;
      font-size: 12px;
    }

    img {
      position: absolute;
      right: -14px;
      top: 12px;
      cursor: pointer;
    }
  }

  small {
    color: #80868b;
    margin-top: 0.8rem;
    font-size: 12px;
  }

  .errors {
    color: red;
  }

  .textfield {
    border: 1px solid red !important;

    &:not(:focus) ~ span {
      top: -10px;
      background: #fff;
    }
  }

  .textfield ~ span {
    color: red;
  }
}
