.signup {
  display: flex;
  flex-direction: row;

  .signup-header {
    span {
      color: blue;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .left-side {
    width: 500px;
    padding: 2rem 6rem;
    margin: 10rem 16rem;

    .form-container {
      margin-top: 2rem;
    }

    .form-button {
      width: 375px;
      margin-top: 2rem;

      button {
        width: 100%;
        padding: 10px;
        font-size: 10px;
        font-weight: 600;
        border: 1px solid #efefef;
        border-radius: 3px;
        cursor: pointer;
      }

      .active {
        background: #286efa;
        color: #fff;
      }

      .inactive {
        color: #80868b;
        pointer-events: none;
      }
    }

    .terms {
      width: 375px;
      margin-top: 2rem;

      span {
        color: blue;
        font-weight: 600;
      }
    }
  }

  .right-side {
    width: 500px !important;
    padding: 0 6rem;
    background: #286efa;
    color: #fff;

    .right-side-text {
      padding: 0 12px;
      display: flex;
      height: 520px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      p {
        line-height: 1.8;
        margin-top: 3rem;
      }
    }
  }
}
